<launch> 
  <node pkg="mpc_nonholonomic_pose_control" type="twentyfifth_scenario_cbf_encoded.py" name="move_node_1" output="screen" />
  <node pkg="mpc_nonholonomic_pose_control" type="combination_obstacle_1_s12.py" name="combination_obstacle_1" output="screen" />
  <node pkg="mpc_nonholonomic_pose_control" type="combination_obstacle_2_s12.py" name="combination_obstacle_2" output="screen" />
  <node pkg="mpc_nonholonomic_pose_control" type="combination_obstacle_3_s12.py" name="combination_obstacle_3" output="screen" />
  <node pkg="mpc_nonholonomic_pose_control" type="combination_obstacle_4_s12.py" name="combination_obstacle_4" output="screen" />
</launch>

